Decore.Data/Connected Services/ScheduleServiceReference/Service1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ScheduleService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ScheduleService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://193.10.202.73/ScheduleService/Service1.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Decore.Models" />
  <xs:complexType name="ArrayOfEmployeeEventInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="EmployeeEventInfo" nillable="true" type="tns:EmployeeEventInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfEmployeeEventInfo" nillable="true" type="tns:ArrayOfEmployeeEventInfo" />
  <xs:complexType name="EmployeeEventInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="ArrivingAt" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Comment" nillable="true" type="xs:string" />
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Decore.Models" minOccurs="0" name="Event" nillable="true" type="q1:Event" />
      <xs:element minOccurs="0" name="LeavingAt" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="EmployeeEventInfo" nillable="true" type="tns:EmployeeEventInfo" />
</xs:schema>