Decore.ClientApp/Service References/LoginServiceReference/LoginService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="LoginService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://193.10.202.71/LoginServiceApplication/LoginService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://193.10.202.71/LoginServiceApplication/LoginService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://193.10.202.71/LoginServiceApplication/LoginService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/UserServiceApplication" />
      <xsd:import schemaLocation="http://193.10.202.71/LoginServiceApplication/LoginService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/EmployeeService" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ILoginService_LoginStudent_InputMessage">
    <wsdl:part name="parameters" element="tns:LoginStudent" />
  </wsdl:message>
  <wsdl:message name="ILoginService_LoginStudent_OutputMessage">
    <wsdl:part name="parameters" element="tns:LoginStudentResponse" />
  </wsdl:message>
  <wsdl:message name="ILoginService_LoginEmployee_InputMessage">
    <wsdl:part name="parameters" element="tns:LoginEmployee" />
  </wsdl:message>
  <wsdl:message name="ILoginService_LoginEmployee_OutputMessage">
    <wsdl:part name="parameters" element="tns:LoginEmployeeResponse" />
  </wsdl:message>
  <wsdl:message name="ILoginService_IsRunning_InputMessage">
    <wsdl:part name="parameters" element="tns:IsRunning" />
  </wsdl:message>
  <wsdl:message name="ILoginService_IsRunning_OutputMessage">
    <wsdl:part name="parameters" element="tns:IsRunningResponse" />
  </wsdl:message>
  <wsdl:portType name="ILoginService">
    <wsdl:operation name="LoginStudent">
      <wsdl:input wsaw:Action="http://tempuri.org/ILoginService/LoginStudent" message="tns:ILoginService_LoginStudent_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILoginService/LoginStudentResponse" message="tns:ILoginService_LoginStudent_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="LoginEmployee">
      <wsdl:input wsaw:Action="http://tempuri.org/ILoginService/LoginEmployee" message="tns:ILoginService_LoginEmployee_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILoginService/LoginEmployeeResponse" message="tns:ILoginService_LoginEmployee_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="IsRunning">
      <wsdl:input wsaw:Action="http://tempuri.org/ILoginService/IsRunning" message="tns:ILoginService_IsRunning_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILoginService/IsRunningResponse" message="tns:ILoginService_IsRunning_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ILoginService" type="tns:ILoginService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="LoginStudent">
      <soap:operation soapAction="http://tempuri.org/ILoginService/LoginStudent" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LoginEmployee">
      <soap:operation soapAction="http://tempuri.org/ILoginService/LoginEmployee" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IsRunning">
      <soap:operation soapAction="http://tempuri.org/ILoginService/IsRunning" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="LoginService">
    <wsdl:port name="BasicHttpBinding_ILoginService" binding="tns:BasicHttpBinding_ILoginService">
      <soap:address location="http://193.10.202.71/LoginServiceApplication/LoginService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>