Decore.ClientApp/Service References/TicketServiceReference/TicketService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://193.10.202.74/group4/TicketService/TicketService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Decore.Models" />
  <xs:element name="GetTickets">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTicketsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Decore.Models" minOccurs="0" name="GetTicketsResult" nillable="true" type="q1:ArrayOfTicket" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateTicket">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Decore.Models" minOccurs="0" name="ticket" nillable="true" type="q2:Ticket" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateTicketResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTicketByEventId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="eventId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTicketByEventIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Decore.Models" minOccurs="0" name="GetTicketByEventIdResult" nillable="true" type="q3:ArrayOfTicket" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>