Decore.ClientApp/Service References/TicketServiceReference/TicketService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="TicketService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://193.10.202.74/group4/TicketService/TicketService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://193.10.202.74/group4/TicketService/TicketService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://193.10.202.74/group4/TicketService/TicketService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Decore.Models" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ITicketService_GetTickets_InputMessage">
    <wsdl:part name="parameters" element="tns:GetTickets" />
  </wsdl:message>
  <wsdl:message name="ITicketService_GetTickets_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetTicketsResponse" />
  </wsdl:message>
  <wsdl:message name="ITicketService_AddTicket_InputMessage">
    <wsdl:part name="parameters" element="tns:AddTicket" />
  </wsdl:message>
  <wsdl:message name="ITicketService_AddTicket_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddTicketResponse" />
  </wsdl:message>
  <wsdl:message name="ITicketService_CreateTicket_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateTicket" />
  </wsdl:message>
  <wsdl:message name="ITicketService_CreateTicket_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateTicketResponse" />
  </wsdl:message>
  <wsdl:portType name="ITicketService">
    <wsdl:operation name="GetTickets">
      <wsdl:input wsaw:Action="http://tempuri.org/ITicketService/GetTickets" message="tns:ITicketService_GetTickets_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITicketService/GetTicketsResponse" message="tns:ITicketService_GetTickets_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddTicket">
      <wsdl:input wsaw:Action="http://tempuri.org/ITicketService/AddTicket" message="tns:ITicketService_AddTicket_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITicketService/AddTicketResponse" message="tns:ITicketService_AddTicket_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateTicket">
      <wsdl:input wsaw:Action="http://tempuri.org/ITicketService/CreateTicket" message="tns:ITicketService_CreateTicket_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITicketService/CreateTicketResponse" message="tns:ITicketService_CreateTicket_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ITicketService" type="tns:ITicketService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetTickets">
      <soap:operation soapAction="http://tempuri.org/ITicketService/GetTickets" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddTicket">
      <soap:operation soapAction="http://tempuri.org/ITicketService/AddTicket" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateTicket">
      <soap:operation soapAction="http://tempuri.org/ITicketService/CreateTicket" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="TicketService">
    <wsdl:port name="BasicHttpBinding_ITicketService" binding="tns:BasicHttpBinding_ITicketService">
      <soap:address location="http://193.10.202.74/group4/TicketService/TicketService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>