Decore.ClientApp/Service References/EmployeeServiceReference/Service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service1" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://193.10.202.73/EmployeeService/Service1.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://193.10.202.73/EmployeeService/Service1.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://193.10.202.73/EmployeeService/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/EmployeeService" />
      <xsd:import schemaLocation="http://193.10.202.73/EmployeeService/Service1.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService1_IsRunning_InputMessage">
    <wsdl:part name="parameters" element="tns:IsRunning" />
  </wsdl:message>
  <wsdl:message name="IService1_IsRunning_OutputMessage">
    <wsdl:part name="parameters" element="tns:IsRunningResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_CreateAccess_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateAccess" />
  </wsdl:message>
  <wsdl:message name="IService1_CreateAccess_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateAccessResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_UpdateAccess_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateAccess" />
  </wsdl:message>
  <wsdl:message name="IService1_UpdateAccess_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateAccessResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_DeleteAccess_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteAccess" />
  </wsdl:message>
  <wsdl:message name="IService1_DeleteAccess_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteAccessResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_CreateEmployee_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateEmployee" />
  </wsdl:message>
  <wsdl:message name="IService1_CreateEmployee_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateEmployeeResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetEmployeeByUserId_InputMessage">
    <wsdl:part name="parameters" element="tns:GetEmployeeByUserId" />
  </wsdl:message>
  <wsdl:message name="IService1_GetEmployeeByUserId_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetEmployeeByUserIdResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetEmployeeById_InputMessage">
    <wsdl:part name="parameters" element="tns:GetEmployeeById" />
  </wsdl:message>
  <wsdl:message name="IService1_GetEmployeeById_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetEmployeeByIdResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_ChangeEmployeeRoles_InputMessage">
    <wsdl:part name="parameters" element="tns:ChangeEmployeeRoles" />
  </wsdl:message>
  <wsdl:message name="IService1_ChangeEmployeeRoles_OutputMessage">
    <wsdl:part name="parameters" element="tns:ChangeEmployeeRolesResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_ChangeEmployeeSections_InputMessage">
    <wsdl:part name="parameters" element="tns:ChangeEmployeeSections" />
  </wsdl:message>
  <wsdl:message name="IService1_ChangeEmployeeSections_OutputMessage">
    <wsdl:part name="parameters" element="tns:ChangeEmployeeSectionsResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_DeleteEmployee_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteEmployee" />
  </wsdl:message>
  <wsdl:message name="IService1_DeleteEmployee_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteEmployeeResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_CreateRole_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateRole" />
  </wsdl:message>
  <wsdl:message name="IService1_CreateRole_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateRoleResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_UpdateRole_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateRole" />
  </wsdl:message>
  <wsdl:message name="IService1_UpdateRole_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateRoleResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_DeleteRole_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteRole" />
  </wsdl:message>
  <wsdl:message name="IService1_DeleteRole_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteRoleResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_CreateSection_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateSection" />
  </wsdl:message>
  <wsdl:message name="IService1_CreateSection_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateSectionResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetSectionById_InputMessage">
    <wsdl:part name="parameters" element="tns:GetSectionById" />
  </wsdl:message>
  <wsdl:message name="IService1_GetSectionById_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetSectionByIdResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetAllSections_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllSections" />
  </wsdl:message>
  <wsdl:message name="IService1_GetAllSections_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllSectionsResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_UpdateSection_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateSection" />
  </wsdl:message>
  <wsdl:message name="IService1_UpdateSection_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateSectionResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_DeleteSection_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteSection" />
  </wsdl:message>
  <wsdl:message name="IService1_DeleteSection_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteSectionResponse" />
  </wsdl:message>
  <wsdl:portType name="IService1">
    <wsdl:operation name="IsRunning">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/IsRunning" message="tns:IService1_IsRunning_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/IsRunningResponse" message="tns:IService1_IsRunning_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateAccess">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/CreateAccess" message="tns:IService1_CreateAccess_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/CreateAccessResponse" message="tns:IService1_CreateAccess_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateAccess">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/UpdateAccess" message="tns:IService1_UpdateAccess_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/UpdateAccessResponse" message="tns:IService1_UpdateAccess_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteAccess">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/DeleteAccess" message="tns:IService1_DeleteAccess_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/DeleteAccessResponse" message="tns:IService1_DeleteAccess_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateEmployee">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/CreateEmployee" message="tns:IService1_CreateEmployee_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/CreateEmployeeResponse" message="tns:IService1_CreateEmployee_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetEmployeeByUserId">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetEmployeeByUserId" message="tns:IService1_GetEmployeeByUserId_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetEmployeeByUserIdResponse" message="tns:IService1_GetEmployeeByUserId_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetEmployeeById">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetEmployeeById" message="tns:IService1_GetEmployeeById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetEmployeeByIdResponse" message="tns:IService1_GetEmployeeById_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ChangeEmployeeRoles">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/ChangeEmployeeRoles" message="tns:IService1_ChangeEmployeeRoles_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/ChangeEmployeeRolesResponse" message="tns:IService1_ChangeEmployeeRoles_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ChangeEmployeeSections">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/ChangeEmployeeSections" message="tns:IService1_ChangeEmployeeSections_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/ChangeEmployeeSectionsResponse" message="tns:IService1_ChangeEmployeeSections_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteEmployee">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/DeleteEmployee" message="tns:IService1_DeleteEmployee_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/DeleteEmployeeResponse" message="tns:IService1_DeleteEmployee_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateRole">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/CreateRole" message="tns:IService1_CreateRole_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/CreateRoleResponse" message="tns:IService1_CreateRole_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateRole">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/UpdateRole" message="tns:IService1_UpdateRole_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/UpdateRoleResponse" message="tns:IService1_UpdateRole_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteRole">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/DeleteRole" message="tns:IService1_DeleteRole_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/DeleteRoleResponse" message="tns:IService1_DeleteRole_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateSection">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/CreateSection" message="tns:IService1_CreateSection_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/CreateSectionResponse" message="tns:IService1_CreateSection_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetSectionById">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetSectionById" message="tns:IService1_GetSectionById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetSectionByIdResponse" message="tns:IService1_GetSectionById_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllSections">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetAllSections" message="tns:IService1_GetAllSections_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetAllSectionsResponse" message="tns:IService1_GetAllSections_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateSection">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/UpdateSection" message="tns:IService1_UpdateSection_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/UpdateSectionResponse" message="tns:IService1_UpdateSection_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteSection">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/DeleteSection" message="tns:IService1_DeleteSection_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/DeleteSectionResponse" message="tns:IService1_DeleteSection_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService1" type="tns:IService1">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="IsRunning">
      <soap:operation soapAction="http://tempuri.org/IService1/IsRunning" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateAccess">
      <soap:operation soapAction="http://tempuri.org/IService1/CreateAccess" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateAccess">
      <soap:operation soapAction="http://tempuri.org/IService1/UpdateAccess" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteAccess">
      <soap:operation soapAction="http://tempuri.org/IService1/DeleteAccess" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateEmployee">
      <soap:operation soapAction="http://tempuri.org/IService1/CreateEmployee" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetEmployeeByUserId">
      <soap:operation soapAction="http://tempuri.org/IService1/GetEmployeeByUserId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetEmployeeById">
      <soap:operation soapAction="http://tempuri.org/IService1/GetEmployeeById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ChangeEmployeeRoles">
      <soap:operation soapAction="http://tempuri.org/IService1/ChangeEmployeeRoles" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ChangeEmployeeSections">
      <soap:operation soapAction="http://tempuri.org/IService1/ChangeEmployeeSections" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteEmployee">
      <soap:operation soapAction="http://tempuri.org/IService1/DeleteEmployee" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateRole">
      <soap:operation soapAction="http://tempuri.org/IService1/CreateRole" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateRole">
      <soap:operation soapAction="http://tempuri.org/IService1/UpdateRole" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteRole">
      <soap:operation soapAction="http://tempuri.org/IService1/DeleteRole" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateSection">
      <soap:operation soapAction="http://tempuri.org/IService1/CreateSection" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSectionById">
      <soap:operation soapAction="http://tempuri.org/IService1/GetSectionById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllSections">
      <soap:operation soapAction="http://tempuri.org/IService1/GetAllSections" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateSection">
      <soap:operation soapAction="http://tempuri.org/IService1/UpdateSection" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteSection">
      <soap:operation soapAction="http://tempuri.org/IService1/DeleteSection" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="BasicHttpBinding_IService1" binding="tns:BasicHttpBinding_IService1">
      <soap:address location="http://193.10.202.73/EmployeeService/Service1.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>