Decore.ClientApp/Service References/AlcoholServiceReference/AlcoholService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Decore.Models" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Decore.Models" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfBeverage">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Beverage" nillable="true" type="tns:Beverage" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfBeverage" nillable="true" type="tns:ArrayOfBeverage" />
  <xs:complexType name="Beverage">
    <xs:sequence>
      <xs:element minOccurs="0" name="Amount" type="xs:float" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="ImageURL" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IsAlcoholic" type="xs:boolean" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Percent" type="xs:float" />
      <xs:element minOccurs="0" name="Price" type="xs:float" />
      <xs:element minOccurs="0" name="UnitOfMeasure" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Beverage" nillable="true" type="tns:Beverage" />
</xs:schema>