Decore.ClientApp/Service References/AlcoholServiceReference/AlcoholService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://193.10.202.74/group4/AlcoholService/AlcoholService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Decore.Models" />
  <xs:element name="GetBeverage">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBeverageResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Decore.Models" minOccurs="0" name="GetBeverageResult" nillable="true" type="q1:ArrayOfBeverage" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBeverageById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="beverageId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBeverageByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Decore.Models" minOccurs="0" name="GetBeverageByIdResult" nillable="true" type="q2:Beverage" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateBeverage">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Decore.Models" minOccurs="0" name="beverageObject" nillable="true" type="q3:Beverage" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateBeverageResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteBeverageById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="beverageId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteBeverageByIdResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>