Decore.ClientApp/Service References/AlcoholServiceReference/AlcoholService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="AlcoholService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://193.10.202.74/group4/AlcoholService/AlcoholService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://193.10.202.74/group4/AlcoholService/AlcoholService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://193.10.202.74/group4/AlcoholService/AlcoholService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Decore.Models" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IAlcoholService_GetBeverage_InputMessage">
    <wsdl:part name="parameters" element="tns:GetBeverage" />
  </wsdl:message>
  <wsdl:message name="IAlcoholService_GetBeverage_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetBeverageResponse" />
  </wsdl:message>
  <wsdl:message name="IAlcoholService_GetBeverageById_InputMessage">
    <wsdl:part name="parameters" element="tns:GetBeverageById" />
  </wsdl:message>
  <wsdl:message name="IAlcoholService_GetBeverageById_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetBeverageByIdResponse" />
  </wsdl:message>
  <wsdl:message name="IAlcoholService_CreateBeverage_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateBeverage" />
  </wsdl:message>
  <wsdl:message name="IAlcoholService_CreateBeverage_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateBeverageResponse" />
  </wsdl:message>
  <wsdl:message name="IAlcoholService_DeleteBeverageById_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteBeverageById" />
  </wsdl:message>
  <wsdl:message name="IAlcoholService_DeleteBeverageById_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteBeverageByIdResponse" />
  </wsdl:message>
  <wsdl:message name="IAlcoholService_GetBeverageCountUps_InputMessage">
    <wsdl:part name="parameters" element="tns:GetBeverageCountUps" />
  </wsdl:message>
  <wsdl:message name="IAlcoholService_GetBeverageCountUps_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetBeverageCountUpsResponse" />
  </wsdl:message>
  <wsdl:message name="IAlcoholService_GetBeverageCountUpsByDateTime_InputMessage">
    <wsdl:part name="parameters" element="tns:GetBeverageCountUpsByDateTime" />
  </wsdl:message>
  <wsdl:message name="IAlcoholService_GetBeverageCountUpsByDateTime_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetBeverageCountUpsByDateTimeResponse" />
  </wsdl:message>
  <wsdl:message name="IAlcoholService_PostBeverageCountUp_InputMessage">
    <wsdl:part name="parameters" element="tns:PostBeverageCountUp" />
  </wsdl:message>
  <wsdl:message name="IAlcoholService_PostBeverageCountUp_OutputMessage">
    <wsdl:part name="parameters" element="tns:PostBeverageCountUpResponse" />
  </wsdl:message>
  <wsdl:message name="IAlcoholService_PostCountDateTime_InputMessage">
    <wsdl:part name="parameters" element="tns:PostCountDateTime" />
  </wsdl:message>
  <wsdl:message name="IAlcoholService_PostCountDateTime_OutputMessage">
    <wsdl:part name="parameters" element="tns:PostCountDateTimeResponse" />
  </wsdl:message>
  <wsdl:message name="IAlcoholService_GetCountDateTimes_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCountDateTimes" />
  </wsdl:message>
  <wsdl:message name="IAlcoholService_GetCountDateTimes_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCountDateTimesResponse" />
  </wsdl:message>
  <wsdl:portType name="IAlcoholService">
    <wsdl:operation name="GetBeverage">
      <wsdl:input wsaw:Action="http://tempuri.org/IAlcoholService/GetBeverage" message="tns:IAlcoholService_GetBeverage_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAlcoholService/GetBeverageResponse" message="tns:IAlcoholService_GetBeverage_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetBeverageById">
      <wsdl:input wsaw:Action="http://tempuri.org/IAlcoholService/GetBeverageById" message="tns:IAlcoholService_GetBeverageById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAlcoholService/GetBeverageByIdResponse" message="tns:IAlcoholService_GetBeverageById_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateBeverage">
      <wsdl:input wsaw:Action="http://tempuri.org/IAlcoholService/CreateBeverage" message="tns:IAlcoholService_CreateBeverage_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAlcoholService/CreateBeverageResponse" message="tns:IAlcoholService_CreateBeverage_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteBeverageById">
      <wsdl:input wsaw:Action="http://tempuri.org/IAlcoholService/DeleteBeverageById" message="tns:IAlcoholService_DeleteBeverageById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAlcoholService/DeleteBeverageByIdResponse" message="tns:IAlcoholService_DeleteBeverageById_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetBeverageCountUps">
      <wsdl:input wsaw:Action="http://tempuri.org/IAlcoholService/GetBeverageCountUps" message="tns:IAlcoholService_GetBeverageCountUps_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAlcoholService/GetBeverageCountUpsResponse" message="tns:IAlcoholService_GetBeverageCountUps_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetBeverageCountUpsByDateTime">
      <wsdl:input wsaw:Action="http://tempuri.org/IAlcoholService/GetBeverageCountUpsByDateTime" message="tns:IAlcoholService_GetBeverageCountUpsByDateTime_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAlcoholService/GetBeverageCountUpsByDateTimeResponse" message="tns:IAlcoholService_GetBeverageCountUpsByDateTime_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="PostBeverageCountUp">
      <wsdl:input wsaw:Action="http://tempuri.org/IAlcoholService/PostBeverageCountUp" message="tns:IAlcoholService_PostBeverageCountUp_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAlcoholService/PostBeverageCountUpResponse" message="tns:IAlcoholService_PostBeverageCountUp_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="PostCountDateTime">
      <wsdl:input wsaw:Action="http://tempuri.org/IAlcoholService/PostCountDateTime" message="tns:IAlcoholService_PostCountDateTime_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAlcoholService/PostCountDateTimeResponse" message="tns:IAlcoholService_PostCountDateTime_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCountDateTimes">
      <wsdl:input wsaw:Action="http://tempuri.org/IAlcoholService/GetCountDateTimes" message="tns:IAlcoholService_GetCountDateTimes_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAlcoholService/GetCountDateTimesResponse" message="tns:IAlcoholService_GetCountDateTimes_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IAlcoholService" type="tns:IAlcoholService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetBeverage">
      <soap:operation soapAction="http://tempuri.org/IAlcoholService/GetBeverage" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetBeverageById">
      <soap:operation soapAction="http://tempuri.org/IAlcoholService/GetBeverageById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateBeverage">
      <soap:operation soapAction="http://tempuri.org/IAlcoholService/CreateBeverage" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteBeverageById">
      <soap:operation soapAction="http://tempuri.org/IAlcoholService/DeleteBeverageById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetBeverageCountUps">
      <soap:operation soapAction="http://tempuri.org/IAlcoholService/GetBeverageCountUps" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetBeverageCountUpsByDateTime">
      <soap:operation soapAction="http://tempuri.org/IAlcoholService/GetBeverageCountUpsByDateTime" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PostBeverageCountUp">
      <soap:operation soapAction="http://tempuri.org/IAlcoholService/PostBeverageCountUp" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PostCountDateTime">
      <soap:operation soapAction="http://tempuri.org/IAlcoholService/PostCountDateTime" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCountDateTimes">
      <soap:operation soapAction="http://tempuri.org/IAlcoholService/GetCountDateTimes" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="AlcoholService">
    <wsdl:port name="BasicHttpBinding_IAlcoholService" binding="tns:BasicHttpBinding_IAlcoholService">
      <soap:address location="http://193.10.202.74/group4/AlcoholService/AlcoholService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>