Decore.ClientApp/Service References/EventServiceReference/EventService.wsdl

<?xml version="1.0" encoding="utf-8"?>

<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy"
                  xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/"
                  xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract"
                  xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
                  xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex"
                  xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy"
                  xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata"
                  xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing"
                  xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/"
                  xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd"
                  xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="EventService"
                  targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://193.10.202.74/group4/EventService/EventService.svc?xsd=xsd0"
                  namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://193.10.202.74/group4/EventService/EventService.svc?xsd=xsd1"
                  namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://193.10.202.74/group4/EventService/EventService.svc?xsd=xsd2"
                  namespace="http://schemas.datacontract.org/2004/07/Decore.Models" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IEventService_GetEvents_InputMessage">
    <wsdl:part name="parameters" element="tns:GetEvents" />
  </wsdl:message>
  <wsdl:message name="IEventService_GetEvents_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetEventsResponse" />
  </wsdl:message>
  <wsdl:message name="IEventService_GetEventById_InputMessage">
    <wsdl:part name="parameters" element="tns:GetEventById" />
  </wsdl:message>
  <wsdl:message name="IEventService_GetEventById_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetEventByIdResponse" />
  </wsdl:message>
  <wsdl:message name="IEventService_CreateEvent_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateEvent" />
  </wsdl:message>
  <wsdl:message name="IEventService_CreateEvent_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateEventResponse" />
  </wsdl:message>
  <wsdl:message name="IEventService_DeleteEventById_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteEventById" />
  </wsdl:message>
  <wsdl:message name="IEventService_DeleteEventById_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteEventByIdResponse" />
  </wsdl:message>
  <wsdl:message name="IEventService_GetEventsBySectionId_InputMessage">
    <wsdl:part name="parameters" element="tns:GetEventsBySectionId" />
  </wsdl:message>
  <wsdl:message name="IEventService_GetEventsBySectionId_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetEventsBySectionIdResponse" />
  </wsdl:message>
  <wsdl:message name="IEventService_GetEventTypes_InputMessage">
    <wsdl:part name="parameters" element="tns:GetEventTypes" />
  </wsdl:message>
  <wsdl:message name="IEventService_GetEventTypes_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetEventTypesResponse" />
  </wsdl:message>
  <wsdl:portType name="IEventService">
    <wsdl:operation name="GetEvents">
      <wsdl:input wsaw:Action="http://tempuri.org/IEventService/GetEvents"
                  message="tns:IEventService_GetEvents_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEventService/GetEventsResponse"
                   message="tns:IEventService_GetEvents_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetEventById">
      <wsdl:input wsaw:Action="http://tempuri.org/IEventService/GetEventById"
                  message="tns:IEventService_GetEventById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEventService/GetEventByIdResponse"
                   message="tns:IEventService_GetEventById_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateEvent">
      <wsdl:input wsaw:Action="http://tempuri.org/IEventService/CreateEvent"
                  message="tns:IEventService_CreateEvent_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEventService/CreateEventResponse"
                   message="tns:IEventService_CreateEvent_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteEventById">
      <wsdl:input wsaw:Action="http://tempuri.org/IEventService/DeleteEventById"
                  message="tns:IEventService_DeleteEventById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEventService/DeleteEventByIdResponse"
                   message="tns:IEventService_DeleteEventById_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetEventsBySectionId">
      <wsdl:input wsaw:Action="http://tempuri.org/IEventService/GetEventsBySectionId"
                  message="tns:IEventService_GetEventsBySectionId_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEventService/GetEventsBySectionIdResponse"
                   message="tns:IEventService_GetEventsBySectionId_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetEventsBySectionId">
      <wsdl:input wsaw:Action="http://tempuri.org/IEventService/GetEventsBySectionId" message="tns:IEventService_GetEventsBySectionId_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEventService/GetEventsBySectionIdResponse" message="tns:IEventService_GetEventsBySectionId_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetEventTypes">
      <wsdl:input wsaw:Action="http://tempuri.org/IEventService/GetEventTypes"
                  message="tns:IEventService_GetEventTypes_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEventService/GetEventTypesResponse"
                   message="tns:IEventService_GetEventTypes_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IEventService" type="tns:IEventService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetEvents">
      <soap:operation soapAction="http://tempuri.org/IEventService/GetEvents" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetEventById">
      <soap:operation soapAction="http://tempuri.org/IEventService/GetEventById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateEvent">
      <soap:operation soapAction="http://tempuri.org/IEventService/CreateEvent" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteEventById">
      <soap:operation soapAction="http://tempuri.org/IEventService/DeleteEventById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetEventsBySectionId">
      <soap:operation soapAction="http://tempuri.org/IEventService/GetEventsBySectionId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetEventTypes">
      <soap:operation soapAction="http://tempuri.org/IEventService/GetEventTypes" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="EventService">
    <wsdl:port name="BasicHttpBinding_IEventService" binding="tns:BasicHttpBinding_IEventService">
      <soap:address location="http://193.10.202.74/group4/EventService/EventService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>